<div class="container">
    <form action="/searchMeme" method="POST">
        <label for="memeTitle">Title</label>
        <input type="text" id="memeTitle" name="memeTitle" placeholder="The title of the meme">

        <select name='genreSelect' id="genreSelect">
            {{#each genres}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Submit">
    </form>
</div>